.hr {
  width: 100%;
  display: flex;
  justify-content: center;

  > div {
    border-top: 1px solid black;
    width: 90%;
  }
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 40px;
  margin-bottom: 30px;

  > a {
    margin: auto;
    color: gray;
    font-size: 13px;
    cursor: pointer;
  }
}
