.hr {
  width: 100%;
  display: flex;
  justify-content: center;

  > div {
    border-top: 1px solid black;
    width: 90%;
  }
}

/* profile */
.profile {
  height: 220px;
  margin: 50px 0 0 0;
  display: flex;
  width: 100%;
}

.information {
  width: 100%;
  flex: 1;
  padding-left: 50px;

  > .name {
    margin: 15px 0 30px 0;

    > p {
      font-size: 45px;
      font-weight: 400;
      letter-spacing: 5px;
    }
  }

  > .short_hr {
    border-top: 1px solid black;
    height: 1px;
    width: 50px;
    margin: 20px 0;
  }
  > .job {
    margin: 10px 0;
    > p {
      font-size: 20px;
      font-weight: 300;
    }
  }

  > .info {
    margin: 10px 0;

    gap: 10px;

    > p {
      font-weight: lighter;
    }
  }
}

.big_info {
  display: flex;
}

.small_info {
  > p {
    margin: 10px 0;
  }
}

.profile_img {
  overflow: hidden;
  border-radius: 100%;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.big_img {
  width: 170px;
  height: 170px;
  margin: 10px 60px 0 0;
}

.small_img {
  width: 150px;
  height: 150px;
  margin: 20px 60px 0 0;
}
