.home {
  max-width: 900px;
  margin: 0 auto;
}

/* profile */
.profile {
  height: 220px;
  margin: 60px 0 70px 0;
  display: flex;
  width: 100%;
}

.information {
  width: 100%;
  flex: 1;
  padding-left: 50px;

  > .name {
    margin: 15px 0 30px 0;

    > p {
      font-size: 45px;
      font-weight: 600;
      letter-spacing: 5px;
    }
  }

  > .short_hr {
    border-top: 1px solid black;
    height: 1px;
    width: 50px;
    margin: 20px 0;
  }
  > .job {
    margin: 10px 0;
    > p {
      font-size: 20px;
      font-weight: 300;
    }
  }

  > .info {
    gap: 10px;

    > p {
      font-weight: 300;
    }
  }

  > .urls {
    margin: 30px 0;

    > .url {
      display: flex;
      gap: 10px;
      margin: 10px 0;

      > p {
        font-weight: 300;
      }

      > a {
        color: black;
        font-weight: 300;
        cursor: pointer;
        text-decoration-thickness: 0.5px;
        letter-spacing: 0.2px;
      }
    }
  }
}

.big_info {
  display: flex;
}

.small_info {
  > p {
    margin: 10px 0;
  }
}

.profile_img {
  overflow: hidden;
  border-radius: 100%;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.big_img {
  width: 170px;
  height: 170px;
  margin: 10px 60px 0 0;
}

.small_img {
  width: 130px;
  height: 130px;
  margin: 20px 60px 0 0;
}

/* introduce */
.introduce {
  margin: 20px 0 50px 0;
  width: 100%;
}

.main_comment {
  margin: 0 0 20px 0;
  padding: 0 0 0 50px;
  > p {
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
  }
}

.sub_comment {
  padding: 0 0 0 50px;
  > p {
    font-size: 16px;
    line-height: 26px;
  }
}

/* section */
.section {
  width: 100%;
  justify-content: center;
  padding: 40px 0;
}

.title {
  width: 90%;
  margin: 0 auto;
  padding-left: 10px;
  font-weight: 500;
  justify-content: center;
  font-size: 17px;
}

.contents {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0 10px 0;
}

/* education */
.university {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 2px;

  .name {
    font-weight: 500;
  }

  .duration {
    font-size: 14px;
    margin-right: 2px;
  }
}

.duration_mobile {
  font-size: 14px;
  margin: 10px 0 10px 2px;
}

.major {
  font-size: 15px;
  margin: 8px 0 8px 2px;
  font-weight: 300;
}

/* skill */
.skill {
  display: flex;
  flex-wrap: wrap;
}

.button {
  padding: 10px 12px 13px 12px;
  border-radius: 35px;
  border: 0.1px solid black;
  margin: 0 10px 10px 0;
  font-weight: 300;
}

/* project */
.project {
  width: 90%;
  margin: 50px auto 70px auto;
  border: 1px solid lightgray;
  padding: 30px 0;

  .project_name {
    width: 90%;
    margin: 0 auto 20px auto;
    font-size: 23px;
    font-weight: 700;
  }

  .project_description {
    font-weight: 400;
    width: 90%;
    margin: 0 auto 10px auto;
  }

  .project_duration {
    font-size: 13px;
    width: 90%;
    margin: 0 auto 25px auto;
    font-weight: 300;
  }

  .project_skill {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 90%;
    margin: 25px auto 15px auto;

    > div {
      border: 0.1px solid black;
      border-radius: 15px;
      padding: 5px 10px;
      font-size: 14px;
      font-weight: 300;
    }
  }

  .project_composition {
    font-size: 15px;
    font-weight: 300;
    width: 90%;
    margin: 0 auto 25px auto;
  }

  .urls {
    width: 90%;
    margin: 0 auto 25px auto;
  }

  .url {
    display: flex;
    gap: 5px;
    margin: 0 0 15px 0;

    > a {
      color: black;
      font-size: 15px;
      font-weight: 300;
      cursor: pointer;
      text-decoration-thickness: 1px;
    }
  }

  .main_tasks {
    width: 90%;
    margin: 0 auto 10px auto;
    > .task_title {
      font-weight: 400;
      font-size: 16px;
      margin: 0 0 13px 0;
    }

    > .task {
      font-size: 15px;
      margin: 0 0 10px 0;
      font-weight: 300;
    }
  }
}

.project_hr {
  width: 90%;
  border-top: 1px solid lightgray;
  margin: 20px auto;
}
